@model GU_DATA.Entitys.gd_user

@{
    ViewBag.Title = "Detail_User";

    Layout = null;
}

@Styles.Render("~/bundles/Bootstarp/css")
@Styles.Render("~/bundles/Bootstarp/css")
<div>
    <h4>用户详情</h4>
    <hr />
    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayNameFor(model => model.UID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ID_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Name)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.ID_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ip_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ip_address)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit_User", new { id = Model.UID }) |
    @Html.ActionLink("返回列表", "List_User")
</p>
