@model GU_DATA.Entitys.gd_user 
<!---使用这个model-->
@{
    ViewBag.Title = "Login";
   

}
<h2>登录</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                <div class="form-group">
                    @Html.ValidationMessageFor(m => m.Name, null, new { @style = "color:red" })
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

                    </div>
                </div>
                <br />

                <div class="form-group">
                    @Html.ValidationMessageFor(m => m.Password, null, new { @style = "color:red" })
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="登录" class="btn btn-default" />
                    </div>
                </div>


                <p>
                    @Html.ActionLink("注册为新用户", "Register")
                </p>
                @* 在为密码重置功能启用了帐户确认后，启用此项
            <p>
                @Html.ActionLink("忘记了密码?", "ForgotPassword")
            </p>*@
            }
        </section>
     </div>
</div>









@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




