@model GU_DATA.Models.gd_type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gd_type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.main_charact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.main_charact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.demange_charcat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.demange_charcat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
