@{
    ViewBag.Title = "Index";
}

<!--这是news的index-->


<link href="~/Content/gxenc/New.css" rel="stylesheet" />
<!--下边开始设置中间的body-->

<br />
<!--新闻-->
<ul class="list">



    <li><a href=@ViewData["href_0"] title=@ViewData["title_0"] target="_blank"><span>@ViewData["date_0"]</span>@ViewData["title_0"] </a></li>

    <li><a href=@ViewData["href_1"] title=@ViewData["title_1"] target="_blank"><span>@ViewData["date_1"]</span>@ViewData["title_1"] </a></li>

    <li><a href=@ViewData["href_2"] title=@ViewData["title_2"] target="_blank"><span>@ViewData["date_2"]</span>@ViewData["title_2"] </a></li>

    <li><a href=@ViewData["href_3"] title=@ViewData["title_3"] target="_blank"><span>@ViewData["date_3"]</span>@ViewData["title_3"] </a></li>

    <li><a href=@ViewData["href_4"] title=@ViewData["title_4"] target="_blank"><span>@ViewData["date_4"]</span>@ViewData["title_4"] </a></li>

    <li><a href=@ViewData["href_5"] title=@ViewData["title_5"] target="_blank"><span>@ViewData["date_5"]</span>@ViewData["title_5"] </a></li>

    <li><a href=@ViewData["href_6"] title=@ViewData["title_6"] target="_blank"><span>@ViewData["date_6"]</span>@ViewData["title_6"] </a></li>

    <li><a href=@ViewData["href_7"] title=@ViewData["title_7"] target="_blank"><span>@ViewData["date_7"]</span>@ViewData["title_7"] </a></li>

    <li><a href=@ViewData["href_8"] title=@ViewData["title_8"] target="_blank"><span>@ViewData["date_8"]</span>@ViewData["title_8"] </a></li>

    <li><a href=@ViewData["href_9"] title=@ViewData["title_9"] target="_blank"><span>@ViewData["date_9"]</span>@ViewData["title_9"] </a></li>

    <li><a href=@ViewData["href_10"] title=@ViewData["title_10"] target="_blank"><span>@ViewData["date_10"]</span>@ViewData["title_10"] </a></li>

    <li><a href=@ViewData["href_11"] title=@ViewData["title_11"] target="_blank"><span>@ViewData["date_11"]</span>@ViewData["title_11"] </a></li>

    <li><a href=@ViewData["href_12"] title=@ViewData["title_12"] target="_blank"><span>@ViewData["date_12"]</span>@ViewData["title_12"] </a></li>

    <li><a href=@ViewData["href_13"] title=@ViewData["title_13"] target="_blank"><span>@ViewData["date_13"]</span>@ViewData["title_13"] </a></li>

    <li><a href=@ViewData["href_14"] title=@ViewData["title_14"] target="_blank"><span>@ViewData["date_14"]</span>@ViewData["title_14"] </a></li>


</ul>
